<div class="notfound">
    <div>
    <p class="main-display">202 + 202 = 404!<p>
    <br />    
    <p class="sec-display">Yaay! You got that right!</p>
    <br />
    <p style="padding: 0 20px;">The requested resource couldn't be found on this server. You can head to our <a href="/">homepage</a> if you'd like to post a job or apply for one or <a href="mailto:techblazes@gmail.com">contact us</a> if you feel there's something wrong.</p>
    <br />
    </div>
    </div>