<div class="container">
    <div id="cardbody" style="border: 1px solid rgb(245, 237, 237);">
      <div class="card-body">

        <div class="radio form-group">
          <lable>Are you a Recruiter or a Job Seeker?</lable>
          <!-- Recruiter -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="Recruiter" name="Recruiter">
            <label class="custom-control-label" for="Recruiter">Recruiter</label>
          </div>

          <!-- Jobseeker -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="jobseeker" name="jobseeker" checked>
            <label class="custom-control-label" for="jobseeker">Jobseeker</label>
          </div>
        </div>
        <div class="form-group">
          <p class="errormsg"></p>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
        </div>
        <div class="radio form-group">
            <lable>Gender</lable>
            <!-- gender -->
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="gender" name="gender">
              <label class="custom-control-label" for="gender">Male</label>
            </div>
  
            <!-- gender -->
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="gender" name="gender" checked>
              <label class="custom-control-label" for="gender">Female</label>
            </div>
          </div>

          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
          </div>

          <input type="Continue" value="Continue" class="btn btn-primary btn-lg">
          <p style="text-align: center;" class="display-6">or</p>
          <div style="text-align: center; margin-top: 10px;">

          </div>
        </form>
      </div>
    </div>
  </div>

